@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* MOST OF THIS IS REUSED */ 

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  color: #DADADA;
}

*::-moz-selection {
  color: #111110;
  background-color: #F2CC8F;
}

*::selection {
  color: #111110;
  background-color: #F2CC8F;
}

html, body {
  height: 100%;
}

body {
  background-color: #0e0e0e;
}

.flexcenter {
	display:flex;
	align-items: center;
	justify-content: center;	
}

.headercontainer {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 60px;
  background-color: #0e0e0e;
  border-bottom: #F2CC8F solid 3px;
}

.links {
	font-weight: 500;
	text-decoration: none;
}

.header-item {
  color:#DADADA;
  font-size: 22px;
  cursor: pointer;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.3s;
}

.ddbb {
	display: none;
}

.dropdowncontent {
	display: none;
	position: absolute;
	background-color: #0e0e0e;
	min-width: 160px;
	top: 65px;
	overflow: auto;
	border: #1e1e1e solid 2px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 10;
}

.dropdowncontent a {
	color: #Dadada;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.header-item:hover {
	color: #FFF
}

.titletext {
 font-size: 28px;
 font-weight: 900;
 padding-right: 5px; 
 color: #DADADA;
}


.homearticle {
	align-items: left;
	text-align: left;
}

.paratext {
  font-weight: 400;
  color: #DADADA;
  width: 800px;
  font-size: 20px;
  padding-bottom: 40px;
  margin: 0 auto;
  border-bottom: #1e1e1e solid 3px;
}

a {
	color: #DADADA;
}

.hometitle {
	color: #DADADA;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 30px;
}

.updatestitle {
	color: #DADADA;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 26px;
}

.dropdownbtn {
	background-color: #191716;
	color: #DADADA;
	padding: 5px;
	cursor: pointer;
	border: 1px solid #DADADA;
	border-radius: 5px;
	width: 40px;
	height: 40px;
	transition: 0.3s;
	align-items: center;
	overflow-y: hidden
}

.rotate {
	transform: rotate(180deg);
}

.dropdownbtn:hover {
	background-color: #191716;
}

.dropdownbtn:hover > .ddi {
	padding-top: 7px;
}

.ddi {
	padding-top: 3px;
	transition: 0.2s 
}

@media (max-width: 813px) {
	.ddbb {
		display: block;
		font-size: 20px
	}

	.paratext {
		width: auto;
		padding-left: 10px;
		padding-right: 10px;
	}
	.titletext {
		font-size: 24px;
	}
	.mainlinks {
		display: none;
	}
}

.showme {
	display: block;
}
